<div class="container bg-{{option}}">
  <div class="calculator">

    <div class="calc-heading calc-text-color-{{option}}">
      <h2>calc</h2>
      <div class="theme-container">
          <p (click)="onDesignChange()">
            <span>1</span>
            <span>2</span>
            <span>3</span>
          </p>
        <div class="row">
          <p (click)="onDesignChange()">THEME</p>
          <div (click)="onDesignChange()" [appThemeOption]="currentOption" class="slider calc-content-{{option}}">
            <div class="ball btn-ball-{{option}}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="calc-content calc-content-{{option}}">
        <p class="number-header number-header-theme-{{option}}">{{firstValue}} {{operator}}</p>
        <p class="number-content calc-text-color-{{option}}">{{allValues === '' ? 0 : allValues}}</p>
    </div>


    <div class="calc-body calc-body-{{option}}" >
      <div class="square-buttons">
        <div *ngFor="let btn of btns; let i = index" class="flex-item {{btn.parentClass}}">
          <button (click)="onPress(btn.name)"
          class="btn {{btn.buttonClass}} btn-{{btn.color}}-{{option}}" 
          >{{btn.name}}</button>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- <footer class="attribution">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
  Coded by <a href="#">Matthew Uy</a>.
</footer> -->
